<div class="space-game-container">
    <button style="position: absolute; top: 10px; left: 10px;" [routerLink]="['/planeta/list/', idEstrella]">Volver</button>
    <h3>Lista de productos para comprar o vender</h3>
    <h3>Selecciona uno</h3>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre Producto</th>
                    <th>Volumen</th>
                    <th>Stock planeta</th>
                    <th>Factor Oferta</th>
                    <th>Factor Demanda</th>
                    <th>P.U.V</th>
                    <th>P.U.C</th>
                    <th>Stock nave</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos; let i = index">
                    <td>{{ producto?.nombre }}</td>
                    <td>{{ producto?.volumen }}</td>
                    <td *ngIf="PxP[i]">{{ PxP[i].stock }}</td>
                    <td *ngIf="PxP[i]">{{ PxP[i].factorOferta }}</td>
                    <td *ngIf="PxP[i]">{{ PxP[i].factorDemanda }}</td>
                    <td>{{ precioVenta[i] }}</td>
                    <td>{{ precioCompra[i] }}</td>
                    <td *ngIf="bodega[i]">{{ bodega[i].stock }}</td>
                    <td> <button [routerLink]="['/producto/view/',producto.id]">Seleccionar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>