<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>
    <div class="formcontainer">
        <h1>Añadir estrella</h1>
        <form action="#" th:action="@{/estrella/save}" th:object="${estrella}" method="post">
            <input type="hidden" th:field="*{id}" id="id">
            <label for="nombreEstrella">Nombre: </label>
            <input type="text" th:field="*{nombre}" id="nombreEstrella">
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                th:class="${#fields.hasErrors('nombre')} ? 'error' : ''"></span>
            <label for="estadoEstrella">Estado: </label>
            <input type="text" th:field="*{estado}" id="estadoEstrella">
            <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"
                th:class="${#fields.hasErrors('estado')} ? 'error' : ''"></span>
            <label for="coordenadaX">Coordenada x: </label>
            <input type="text" th:field="*{x}" id="coordenadaX">
            <span th:if="${#fields.hasErrors('x')}" th:errors="*{x}"
                th:class="${#fields.hasErrors('x')} ? 'error' : ''"></span>
            <label for="coordenadaY">Coordenada y: </label>
            <input type="text" th:field="*{y}" id="coordenadaY">
            <span th:if="${#fields.hasErrors('y')}" th:errors="*{y}"
                th:class="${#fields.hasErrors('y')} ? 'error' : ''"></span>
            <label for="coordenadaZ">Coordenada z: </label>
            <input type="text" th:field="*{z}" id="coordenadaZ">
            <span th:if="${#fields.hasErrors('z')}" th:errors="*{z}"
                th:class="${#fields.hasErrors('z')} ? 'error' : ''"></span>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <a th:href="@{/estrella/list}">Cancelar</a>
</body>

</html>