<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>
    <div class="formcontainer">
        <h1>Crear Nave</h1>
        <form action="#" th:action="@{/nave/save}" th:object="${nave}" method="post">
            <input type="hidden" th:field="*{id}" id="id">
            <label for="nombreNave">Nombre: </label>
            <input type="text" th:field="*{nombre}" id="nombreNave">
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                th:class="${#fields.hasErrors('nombre')} ? 'error' : ''"></span>
            <label for="dineroTotal">Dineron total: </label>
            <input type="text" th:field="*{dinero}" id="dineroTotal">
            <span th:if="${#fields.hasErrors('dinero')}" th:errors="*{dinero}"
                th:class="${#fields.hasErrors('dinero')} ? 'error' : ''"></span>
            <label for="capacidadBodega">Capacidad bodega: </label>
            <input type="text" th:field="*{bodega}" id="capacidadBodega">
            <span th:if="${#fields.hasErrors('bodega')}" th:errors="*{bodega}"
                th:class="${#fields.hasErrors('bodega')} ? 'error' : ''"></span>
            <label for="velocidadTotal">Velocidad: </label>
            <input type="text" th:field="*{velocidad}" id="velocidadTotal">
            <span th:if="${#fields.hasErrors('velocidad')}" th:errors="*{velocidad}"
                th:class="${#fields.hasErrors('velocidad')} ? 'error' : ''"></span>
            <label for="tiempoAcumulado">Tiempo acumulado: </label>
            <input type="text" th:field="*{tiempo}" id="tiempoAcumulado">
            <span th:if="${#fields.hasErrors('tiempo')}" th:errors="*{tiempo}"
                th:class="${#fields.hasErrors('tiempo')} ? 'error' : ''"></span>
            <button type="submit">Guardar</button>
        </form>
    </div>

    <a th:href="@{/nave/list}">Cancelar</a>
</body>

</html>