<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>
    <div th:insert="fragments/menu.html :: menuPrincipal"></div>

    <h1>Planetas</h1>
    <a th:href="@{/planeta/buscar}">Buscar</a>
    <a th:href="@{/planeta/create-form}">Crear</a>

    <table class="entity-list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="p : ${planetas}" th:if="${p.nombre}">
                <td th:text="${p.nombre}"></td>
                <td>
                    <form th:action="@{/planeta/view/{id}(id=${p.id})}">
                        <input type="submit" value="Ver" />
                    </form>
                </td>
                <td>
                    <form th:action="@{/planeta/edit-form/{id}(id=${p.id})}">
                        <input type="submit" value="Editar" />
                    </form>
                </td>
                <td>
                    <form th:action="@{/planeta/eliminar/{id}(id=${p.id})}" method="post">
                        <input type="submit" value="Eliminar" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>