<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/estilo.css">

</head>

<body>
    <h1>Producto</h1>
    <p th:text="|Nombre: ${producto.nombre}|"></p>
    <p th:text="|Precio Unitario Compra: ${producto.precioUnitarioCompra}|"></p>
    <p th:text="|Precio Unitario Venta: ${producto.precioUnitarioVenta}|"></p>
    <p th:text="|Stock: ${producto.stock}|"></p>
    <p th:text="|Volumen: ${producto.volumen}|"></p>
    <a th:href="@{/producto/list}">Volver</a>
</body>

</html>