<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>

    <form method="get" action="#" th:action="@{/tripulante/buscar}">
        <label for="searchText">Buscar por Usuario</label>
        <input type="text" id="searchText" name="searchText">
        <button type="submit">Buscar</button>
    </form>

    <h1>Tripulantes</h1>

    <table class="entity-list">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Rol</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="t : ${tripulantes}" th:if="${t.usuario}">
                <td th:text="${t.usuario}"></td>
                <td th:text="${t.contrasenia}"></td>
                <td th:text="${t.rol}"></td>
                <td>
                    <form th:action="@{/tripulante/view/{id}(id=${t.id})}">
                        <input type="submit" value="Ver" />
                    </form>
                </td>
                <td>
                    <form th:action="@{/tripulante/edit-form/{id}(id=${t.id})}">
                        <input type="submit" value="Editar" />
                    </form>
                </td>
                <td>
                    <form th:action="@{/tripulante/eliminar/{id}(id=${t.id})}" method="post">
                        <input type="submit" value="Eliminar" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/tripulante/list}">Volver</a>

</body>

</html>