.space-game-container {
  display: block;
  margin: 20px;
  background-image: url('https://images.unsplash.com/photo-1533113354171-490d836238e3?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white; /* Cambio de color de texto a blanco para mayor contraste */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilo general del componente */
:host {
    display: block;
    margin: 20px;
  }
  
  /* Estilo de los títulos */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilo de la lista */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Estilo de los elementos de la lista */
  li {
    margin-bottom: 5px;
  }
  
  /* Estilo del botón */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Estilo del botón al pasar el ratón por encima */
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo de las secciones condicionales */
  div {
    margin-top: 20px;
  }
  
  /* Estilo de los botones deshabilitados */
  button[disabled] {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  /* Estilo del botón de enlace */
  .link-button {
    text-decoration: none;
    color: inherit;
  }
  